<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <title>contact us</title>
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<!--    <link rel="stylesheet" type="text/css" href="../static/css/w3.css">-->
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
	<script type="text/javascript"src= "../static/js/mugi.js"></script>
	<!-- js/jquery.js -->
	<!--  https://code.jquery.com/jquerry-3.4.1.slim.min.js -->
    <link rel="stylesheet" href="../../cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body>
    <section class="row bg-secondary text-white text-center">
		<div class="col-md-3 container">
			<br><br><br><br><br>
			<img src="../static/images/download.png" alt="method pay">
		</div>
	<div class="col-md-3">
		<h2>CONTACT US</h2>
		<p>Please contact us via email or phone</p>
		<h2>+254 314 659 703</h2>
		<h2>+254 777 543 225</h2>
		<p>sales@gabrielltd.com</p>
		<p>gabriel rentals.com</p>
		<p>P.O.Box 1575 Nairobi</p>
		<a href="https://twitter.com/yourpage">
		<i class="fab fa-twitter" style="color: blue;font-size: 40px;"></i></a>
		<a href="https://facebook.com/yourpage">
		<i class="fab fa-facebook-square" style="color: blue; font-size: 40px"></i></a>
		<p>copyright 2020</p>
	</div>
	<div class="col-md-3">
		<h3>Service hours</h3>
		<pre>Monday - Friday: 08:00AM - 05:00PM</pre>
		<pre>Saturday: 08:00AM - 01:00PM</pre>
		<pre>Sunday: Closed</pre>
	</div>
	<div class="col-md-3"><br><br>
		<a href="regulations.html">Terms and Conditions</a>
		<br><br><br>
		<a href="privacy.html">privacy policy</a>
		<br><br><br>
		<a href="/careers">careers</a>
		<br><br><br>
		<a href="/contact us">contact us</a>
	</div>
</section>
</body>
</html>