<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GABRIEL</title>
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" type="text/css" href="../static/css/w3.css">
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
	<script type="text/javascript"src= "../static/js/jquery.js"></script>
	<!-- js/jquery.js -->
	<script type="text/javascript"src= "   https://code.jquery.com/jquerry-3.4.1.slim.min.js" ></script>
    <link rel="stylesheet" href="../../cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">


</head>
<body>
{%include'header.html'%}
<section class="row">
	<div class="col-md-4 jumbotron">
		<div class="card container" class="w3-hover-text-color-amber">
			<img src="../static/images/fielder-499x319.png"alt="clinic"class="img-fluid">
			<div class="card-body">
				<h3 class="card-title">FIELDER</h3>
				<p class="card-text">
					<ol class="list-group">
						<li class="list-group-item">4 seats</li>
						<li class="list-group-item">2 bags</li>
						<li class="list-group-item">5 doors</li>
						<li class="list-group-item">auto</li>
						<li class="list-group-item">petrol</li>
					</ol>
				</p>
				<a href="/reservation" class="btn btn-success">BOOK NOW</a>
			</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 jumbotron">
		<div class="card container" id="dih">
			<img src="../static/images/axio-579x289.jpg"alt="clinic"class="img-fluid">
			<div class="card-body">
				<h3 class="card-title">TOYOTA AXIO</h3>
				<p class="card-text">
					<ol class="list-group">
						<li class="list-group-item">4 seats</li>
						<li class="list-group-item">2 bags</li>
						<li class="list-group-item">5 doors</li>
						<li class="list-group-item">auto</li>
						<li class="list-group-item">petrol</li>
					</ol>
				</p>
				<a href="/reservation" class="btn btn-success">BOOK NOW</a>
			</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 jumbotron">
		<div class="card container" id="dih">
			<img src="../static/images/mx-798x466.jpg"alt="clinic"class="img-fluid">
			<div class="card-body">
				<h3 class="card-title">MARK X</h3>
				<p class="card-text">
					<ol class="list-group">
						<li class="list-group-item">4 seats</li>
						<li class="list-group-item">2 bags</li>
						<li class="list-group-item">5 doors</li>
						<li class="list-group-item">auto</li>
						<li class="list-group-item">petrol</li>
					</ol>
				</p>
				<a href="/reservation" class="btn btn-success">BOOK NOW</a>
			</p>
			</div>
		</div>
	</div>
</section>
<section class="row">
	<div class="col-md-12 text center"></div>
	<div class="col-md-4 jumbotron">
		<div class="card container" id="dih">
			<img src="../static/images/benz_v_class-539x359.jpg"alt="clinic"class="img-fluid">
			<div class="card-body">
				<h3 class="card-title"></h3>
				<p class="card-text">
					<ol class="list-group">
						<li class="list-group-item">4 seats</li>
						<li class="list-group-item">2 bags</li>
						<li class="list-group-item">5 doors</li>
						<li class="list-group-item">auto</li>
						<li class="list-group-item">petrol</li>
					</ol>
				</p>
				<a href="/reservation" class="btn btn-success">BOOK NOW</a>
			</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 jumbotron">
		<div class="card container" id="dih">
			<img src="../static/images/mercedes-benz-s-class-w222-s500-belyj-f1-798x466.jpg"alt="clinic"class="img-fluid">
			<div class="card-body">
				<h3 class="card-title"></h3>
				<p class="card-text">
					<ol class="list-group">
						<li class="list-group-item">4 seats</li>
						<li class="list-group-item">2 bags</li>
						<li class="list-group-item">5 doors</li>
						<li class="list-group-item">auto</li>
						<li class="list-group-item">petrol</li>
					</ol>
				</p>
				<a href="/reservation" class="btn btn-success">BOOK NOW</a>
			</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 jumbotron">
		<div class="card container">
			<img src="../static/images/benz-798x466.png"alt="clinic"class="img-fluid">
			<div class="card-body">
				<h3 class="card-title"></h3>
				<p class="card-text">
					<ol class="list-group">
						<li class="list-group-item">4 seats</li>
						<li class="list-group-item">2 bags</li>
						<li class="list-group-item">5 doors</li>
						<li class="list-group-item">auto</li>
						<li class="list-group-item">petrol</li>
					</ol>
				</p>
				<a href="/reservation" class="btn btn-success">BOOK NOW</a>
			</p>
			</div>
		</div>
	</div>
</section>
<section class="row">
	<div class="col-md-12 text center"></div>
	<div class="col-md-4 jumbotron">
		<div class="card container" id="dih">
			<img src="../static/images/Toyota-Hiace-565x351.jpg"alt="clinic"class="img-fluid">
			<div class="card-body">
				<h3 class="card-title"> TOYOTA HIACE</h3>
				<p class="card-text">
					<ol class="list-group">
						<li class="list-group-item">9 seats</li>
						<li class="list-group-item">4 bags</li>
						<li class="list-group-item">2 doors</li>
						<li class="list-group-item">auto</li>
						<li class="list-group-item">petrol</li>
					</ol>
				</p>
				<a href="/reservation" class="btn btn-success">BOOK NOW</a>
			</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 jumbotron">
		<div class="card container" id="dih">
			<img src="../static/images/Toyota-Alphard-2016-1200x800-798x466.jpg"alt="clinic"class="img-fluid">
			<div class="card-body">
				<h3 class="card-title">TOYOTA ALPHARD</h3>
				<p class="card-text">
					<ol class="list-group">
						<li class="list-group-item">7 seats</li>
						<li class="list-group-item">4 bags</li>
						<li class="list-group-item">5 doors</li>
						<li class="list-group-item">auto</li>
						<li class="list-group-item">petrol</li>
					</ol>
				</p>
				<a href="/reservation" class="btn btn-success">BOOK NOW</a>
			</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 jumbotron">
		<div class="card container">
			<img src="../static/images/van-565x351.jpg"alt="clinic"class="img-fluid">
			<div class="card-body">
				<h3 class="card-title">VANGUARD</h3>
				<p class="card-text">
					<ol class="list-group">
						<li class="list-group-item">4 seats</li>
						<li class="list-group-item">2 bags</li>
						<li class="list-group-item">4doors</li>
						<li class="list-group-item">auto</li>
						<li class="list-group-item">petrol</li>
					</ol>
				</p>
				<a href="/reservation" class="btn btn-success">BOOK NOW</a>
			</p>
			</div>
		</div>
	</div>
</section>
<section class="row">
	<div class="col-md-12 text center"></div>
	<div class="col-md-4 jumbotron">
		<div class="card container" id="dih">
			<img src="../static/images/Prado-resized-798x466.jpg"alt="clinic"class="img-fluid">
			<div class="card-body">
				<h3 class="card-title"> PRADO</h3>
				<p class="card-text">
					<ol class="list-group">
						<li class="list-group-item">4 seats</li>
						<li class="list-group-item">2 bags</li>
						<li class="list-group-item">2 doors</li>
						<li class="list-group-item">auto</li>
						<li class="list-group-item">diesel</li>
					</ol>
				</p>
				<a href="/reservation" class="btn btn-success">BOOK NOW</a>
			</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 jumbotron">
		<div class="card container" id="dih">
			<img src="../static/images/rav4-640x466.jpg"alt="clinic"class="img-fluid">
			<div class="card-body">
				<h3 class="card-title">RAV 4</h3>
				<p class="card-text">
					<ol class="list-group">
						<li class="list-group-item">4 seats</li>
						<li class="list-group-item">3 bags</li>
						<li class="list-group-item">5 doors</li>
						<li class="list-group-item">auto</li>
						<li class="list-group-item">petrol</li>
					</ol>
				</p>
				<a href="/reservation" class="btn btn-success">BOOK NOW</a>
			</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 jumbotron">
		<div class="card container">
			<img src="../static/images/1920x1080-toyota-coaster-4.jpg-798x466.png"alt="clinic"class="img-fluid">
			<div class="card-body">
				<h3 class="card-title">COASTER</h3>
				<p class="card-text">
					<ol class="list-group">
						<li class="list-group-item">25 seats</li>
						<li class="list-group-item">6 bags</li>
						<li class="list-group-item">2doors</li>
						<li class="list-group-item">auto</li>
						<li class="list-group-item">diesel</li>
					</ol>
				</p>
				<a href="/reservation" class="btn btn-success">BOOK NOW</a>
			</p>
			</div>
		</div>
	</div>
</section>
{%include'footer.html'%}
</body>
</html>