<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GABRIEL</title>
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" type="text/css" href="../static/css/w3.css">
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
	<script type="text/javascript"src= "../static/js/jquery.js"></script>
	<!-- js/jquery.js -->
	<script type="text/javascript"src= "   https://code.jquery.com/jquerry-3.4.1.slim.min.js" ></script>
    <link rel="stylesheet" href="../../cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">


</head>
<body>
{%include'header.html'%}
<section class="row">
    <div class="col-md-12" >
			<div id="demo" class="carousel slide carousel-fade" data-ride="carousel">
				<!-- Indicators -->
					<ul class="carousel-indicators">
					<li data-target="#demo" data-slide-to="0" class="active"></li>
					<li data-target="#demo" data-slide-to="1"></li>
					<li data-target="#demo" data-slide-to="2"></li>
					<li data-target="#demo" data-slide-to="3"></li>
					<li data-target="#demo" data-slide-to="4"></li>
					</ul>

				<!-- The slideshow -->
				<div class="carousel-inner">
					<div class="carousel-item active col-md-12" >
						<img src="../static/images/photo1.jpg" alt="Los"width="100%"height="500">
						<div class="carousel-caption">
							<h2>Reserve a vehicle now</h2>
							<a href="/reservation"class="btn btn-success"> Get started</a>
						</div>
					</div>
					<div class="carousel-item ">
						<img src="../static/images/images1.jpg" alt="Chicago"width="100%"height="500">
						<div class="carousel-caption">
							<h2>What are you looking for</h2>
							<a href="index.html"class="btn btn-success"> Get started</a>
						</div>
					</div>
					<div class="carousel-item">
						<img src="../static/images/images.jpg" alt="New"width="100%"height="500">
						<div class="carousel-caption">
							<h2>What are you looking for</h2>
							<a href="index.html"class="btn btn-success"> Get started</a>
						</div>
					</div>
					<div class="carousel-item">
						<img src="../static/images/download(3).jpg" alt="New"width="100%"height="500">
						<div class="carousel-caption">
							<h2>What are you looking for</h2>
							<a href="index.html"class="btn btn-success"> Get started</a>
						</div>
					</div>
					<div class="carousel-item">
						<img src="../static/images/download(4).jpg" alt="New"width="100%"height="500">
						<div class="carousel-caption">
							<h2>What are you looking for</h2>
							<a href="index.html"class="btn btn-success"> Get started</a>
						</div>
					</div>
				</div>

					<!-- Left and right controls -->
					<a class="carousel-control-prev" href='#demo' data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
					</a>
					<a class="carousel-control-next" href='#demo' data-slide="next">
					<span class="carousel-control-next-icon"></span>
					</a>

			</div>
		</div>
</section>
<br>
<hr>
<section class="row">
	<div class="col-md-4 jumbotron">
		<div class="card container" class="w3-hover-text-color-amber">
			<img src="../static/images/fielder-499x319.png"alt="clinic"class="img-fluid">
			<div class="card-body">
				<h3 class="card-title">FIELDER</h3>
				<p class="card-text">
					<ol class="list-group">
						<li class="list-group-item">4 seats</li>
						<li class="list-group-item">2 bags</li>
						<li class="list-group-item">5 doors</li>
						<li class="list-group-item">auto</li>
						<li class="list-group-item">petrol</li>
					</ol>
				</p>
				<a href="/reservation" class="btn btn-success">BOOK NOW</a>
			</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 jumbotron">
		<div class="card container" id="dih">
			<img src="../static/images/axio-579x289.jpg"alt="clinic"class="img-fluid">
			<div class="card-body">
				<h3 class="card-title">TOYOTA AXIO</h3>
				<p class="card-text">
					<ol class="list-group">
						<li class="list-group-item">4 seats</li>
						<li class="list-group-item">2 bags</li>
						<li class="list-group-item">5 doors</li>
						<li class="list-group-item">auto</li>
						<li class="list-group-item">petrol</li>
					</ol>
				</p>
				<a href="/reservation" class="btn btn-success">BOOK NOW</a>
			</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 jumbotron">
		<div class="card container" id="dih">
			<img src="../static/images/mx-798x466.jpg"alt="clinic"class="img-fluid">
			<div class="card-body">
				<h3 class="card-title">MARK X</h3>
				<p class="card-text">
					<ol class="list-group">
						<li class="list-group-item">4 seats</li>
						<li class="list-group-item">2 bags</li>
						<li class="list-group-item">5 doors</li>
						<li class="list-group-item">auto</li>
						<li class="list-group-item">petrol</li>
					</ol>
				</p>
				<a href="/reservation" class="btn btn-success">BOOK NOW</a>
			</p>
			</div>
		</div>
	</div>
</section>
<section class="row">
	<div class="col-md-12 text center"></div>
	<div class="col-md-4 jumbotron">
		<div class="card container" id="dih">
			<img src="../static/images/benz_v_class-539x359.jpg"alt="clinic"class="img-fluid">
			<div class="card-body">
				<h3 class="card-title"></h3>
				<p class="card-text">
					<ol class="list-group">
						<li class="list-group-item">4 seats</li>
						<li class="list-group-item">2 bags</li>
						<li class="list-group-item">5 doors</li>
						<li class="list-group-item">auto</li>
						<li class="list-group-item">petrol</li>
					</ol>
				</p>
				<a href="/reservation" class="btn btn-success">BOOK NOW</a>
			</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 jumbotron">
		<div class="card container" id="dih">
			<img src="../static/images/mercedes-benz-s-class-w222-s500-belyj-f1-798x466.jpg"alt="clinic"class="img-fluid">
			<div class="card-body">
				<h3 class="card-title"></h3>
				<p class="card-text">
					<ol class="list-group">
						<li class="list-group-item">4 seats</li>
						<li class="list-group-item">2 bags</li>
						<li class="list-group-item">5 doors</li>
						<li class="list-group-item">auto</li>
						<li class="list-group-item">petrol</li>
					</ol>
				</p>
				<a href="/reservation" class="btn btn-success">BOOK NOW</a>
			</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 jumbotron">
		<div class="card container">
			<img src="../static/images/benz-798x466.png"alt="clinic"class="img-fluid">
			<div class="card-body">
				<h3 class="card-title"></h3>
				<p class="card-text">
					<ol class="list-group">
						<li class="list-group-item">4 seats</li>
						<li class="list-group-item">2 bags</li>
						<li class="list-group-item">5 doors</li>
						<li class="list-group-item">auto</li>
						<li class="list-group-item">petrol</li>
					</ol>
				</p>
				<a href="/reservation" class="btn btn-success">BOOK NOW</a>
			</p>
			</div>
		</div>
	</div>
</section>
<section class="row jumbotron"><div class="col-md-12 text-center text-white"><a href="/gallery"><button class="btn btn-secondary">VIEW MORE</button></a></div></section>
<section class="row">
    <div class="col-md-8 bg-warning">
        <h3>Have a Question</h3>
        <h3>Feel free to ask</h3>
    </div>
    <div class="col-md-4 bg-warning"><h2>+254 314 659 703</h2>
		<h2>+254 777 543 225</h2></div>
</section>
<section class="container">
	<h2 class="bg-info text-white text-center" style="font-family:courier;">our patners</h2>
	<img src="../static/images/aar.png" alt="partners">
</section>
<section >
	<h2 class="bg-info text-white text-center" style="font-family:courier;">our clients</h2>
	<img src="../static/images/kengen-327x102.jpg" alt="partners">
    <img src="../static/images/kps-102x102.jpg" alt="partners">
    <img src="../static/images/usiu-237x102.jpg" alt="partners">
    <img src="../static/images/dhl-235x102.jpg" alt="partners">
    <img src="../static/images/g4s-292x102.jpg" alt="partners">
</section>

{%include'footer.html'%}
</body>
</html>